.movable {
    position: fixed;
    top: 25%;
    left: 25%;
    height: 400px;
    width: 200px;
    background-color: aqua;
    cursor: grab;
}

.handle {
    height: 60px;
    background-color: orange;
}
